.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
}

.logo-div {
    text-align: center;
}

nav {
    background-color: orange;
    height: 50px;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;

}

nav a {
    text-decoration: none;
    margin-right: 30px;
    font-size: 18px;
    color: white;
}

nav a:hover {
    color: black;
}

@media only screen and (max-width:650px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 25px;
    }

    nav a {
        text-decoration: none;
        margin-right: 20px;
        font-size: 16px;
        color: white;
    }
nav{
    height: 40px;
}
    .logo-div img {
        width: 150px;
    }
}